In [1]:
import pandas as pd
import os

In [2]:
nbastats = pd.read_csv('nbastats_2022.csv')
nbapo = pd.read_csv('datanba_po_2022.csv')
nbadata = pd.read_csv('datanba_2022.csv')
nbastats_po = pd.read_csv('nbastats_po_2022.csv')
pbpstats = pd.read_csv('pbpstats_2022.csv')
shotdetail = pd.read_csv('shotdetail_2022.csv')
shotdetail_po = pd.read_csv('shotdetail_po_2022.csv')

In [3]:
nbastats.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,22200001,2,12,0,1,7:36 PM,12:00,NaN,Start of 1st Period (7:36 PM EST),NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0
1,22200001,4,10,0,1,7:36 PM,12:00,Jump Ball Horford vs. Embiid: Tip to Harris,NaN,NaN,...,76ers,PHI,5,202699,Tobias Harris,1.610613e+09,Philadelphia,76ers,PHI,1
2,22200001,7,2,86,1,7:36 PM,11:38,Brown BLOCK (1 BLK),NaN,MISS Embiid 13' Turnaround Fadeaway Shot,...,NaN,NaN,4,1627759,Jaylen Brown,1.610613e+09,Boston,Celtics,BOS,1
3,22200001,9,4,0,1,7:36 PM,11:35,NaN,NaN,Tucker REBOUND (Off:1 Def:0),...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
4,22200001,10,5,40,1,7:36 PM,11:35,NaN,NaN,Tucker Out of Bounds Lost Ball Turnover (P1.T1),...,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,1

In [11]:
nbastats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574410 entries, 0 to 574409
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   GAME_ID                    574410 non-null  int64
 1   EVENTNUM                   574410 non-null  int64
 2   EVENTMSGTYPE               574410 non-null  int64
 3   EVENTMSGACTIONTYPE         574410 non-null  int64
 4   PERIOD                     574410 non-null  int64
 5   WCTIMESTRING               574410 non-null  object
 6   PCTIMESTRING               574410 non-null  object
 7   HOMEDESCRIPTION            297481 non-null  object
 8   NEUTRALDESCRIPTION         12299 non-null   object
 9   VISITORDESCRIPTION         294016 non-null  object
 10  SCORE                      159376 non-null  object
 11  SCOREMARGIN                159376 non-null  object
 12  PERSON1TYPE                574408 non-null  float64
 13  PLAYER1_ID                 574410 non-null  int64
 14  PLAYER1_NAME               527344 non-null  object
 15  PLAYER1_TEAM_ID            526651 non-null  float64
 16  PLAYER1_TEAM_CITY          526651 non-null  object
 17  PLAYER1_TEAM_NICKNAME      526651 non-null  object
 18  PLAYER1_TEAM_ABBREVIATION  526651 non-null  object
 19  PERSON2TYPE                574410 non-null  int64
 20  PLAYER2_ID                 574410 non-null  int64
 21  PLAYER2_NAME               188828 non-null  object
 22  PLAYER2_TEAM_ID            188828 non-null  float64
 23  PLAYER2_TEAM_CITY          188828 non-null  object
 24  PLAYER2_TEAM_NICKNAME      188828 non-null  object
 25  PLAYER2_TEAM_ABBREVIATION  188828 non-null  object
 26  PERSON3TYPE                574410 non-null  int64
 27  PLAYER3_ID                 574410 non-null  int64
 28  PLAYER3_NAME               13449 non-null   object
 29  PLAYER3_TEAM_ID            13449 non-null   float64
 30  PLAYER3_TEAM_CITY          13449 non-null   object
 31  PLAYER3_TEAM_NICKNAME      13449 non-null   object
 32  PLAYER3_TEAM_ABBREVIATION  13449 non-null   object
 33  VIDEO_AVAILABLE_FLAG       574410 non-null  int64
dtypes: float64(4), int64(11), object(19)
memory usage: 149.0+ MB

In [12]:
nbastats.isna().sum()

GAME_ID                           0
EVENTNUM                          0
EVENTMSGTYPE                      0
EVENTMSGACTIONTYPE                0
PERIOD                            0
WCTIMESTRING                      0
PCTIMESTRING                      0
HOMEDESCRIPTION              276929
NEUTRALDESCRIPTION           562111
VISITORDESCRIPTION           280394
SCORE                        415034
SCOREMARGIN                  415034
PERSON1TYPE                       2
PLAYER1_ID                        0
PLAYER1_NAME                  47066
PLAYER1_TEAM_ID               47759
PLAYER1_TEAM_CITY             47759
PLAYER1_TEAM_NICKNAME         47759
PLAYER1_TEAM_ABBREVIATION     47759
PERSON2TYPE                       0
PLAYER2_ID                        0
PLAYER2_NAME                 385582
PLAYER2_TEAM_ID              385582
PLAYER2_TEAM_CITY            385582
PLAYER2_TEAM_NICKNAME        385582
PLAYER2_TEAM_ABBREVIATION    385582
PERSON3TYPE                       0
PLAYER3_ID                        0
PLAYER3_NAME                 560961
PLAYER3_TEAM_ID              560961
PLAYER3_TEAM_CITY            560961
PLAYER3_TEAM_NICKNAME        560961
PLAYER3_TEAM_ABBREVIATION    560961
VIDEO_AVAILABLE_FLAG              0
dtype: int64

In [4]:
nbapo.head()

,evt,wallclk,cl,de,locX,locY,opt1,opt2,opt3,opt4,...,tid,pid,hs,vs,epid,oftid,ord,pts,PERIOD,GAME_ID
0,2,2023-04-16T21:51:03.100Z,12:00,Start Period,0,-80,0,0,0,0,...,0,0,0,0,NaN,0,20000,0,1,42200101
1,4,2023-04-16T21:51:06.600Z,11:56,Jump Ball Adebayo vs Lopez (Butler gains posse...,0,-80,0,0,0,0,...,1610612748,1628389,0,0,202710.0,1610612748,60000,0,1,42200101
2,7,2023-04-16T21:51:25.900Z,11:36,[MIA] Adebayo Pullup Jump shot: Missed,11,140,2,0,0,0,...,1610612748,1628389,0,0,NaN,1610612748,70000,0,1,42200101
3,8,2023-04-16T21:51:29.900Z,11:32,[MIL] Antetokounmpo Rebound (Off:0 Def:1),11,140,0,0,0,0,...,1610612749,203507,0,0,NaN,1610612748,80000,0,1,42200101
4,9,2023-04-16T21:51:34.700Z,11:30,Stoppage: Out-of-Bounds,0,-80,0,0,0,0,...,0,0,0,0,NaN,1610612749,90000,0,1,42200101

In [5]:
nbadata.head()

,evt,wallclk,cl,de,locX,locY,opt1,opt2,opt3,opt4,...,tid,pid,hs,vs,epid,oftid,ord,pts,PERIOD,GAME_ID
0,2,2022-10-18T23:35:25.400Z,12:00,Start Period,0,-80,0,0,0,0,...,0,0,0,0,NaN,0,20000,0,1,22200001
1,4,2022-10-18T23:35:27.800Z,11:57,Jump Ball Embiid vs Horford (Harris gains poss...,0,-80,0,0,0,0,...,1610612755,203954,0,0,202699.0,1610612755,60000,0,1,22200001
2,7,2022-10-18T23:35:46Z,11:38,[PHI] Embiid Turnaround Fadeaway shot: Missed ...,-118,50,2,0,0,0,...,1610612755,203954,0,0,NaN,1610612755,70000,0,1,22200001
3,9,2022-10-18T23:35:49Z,11:35,[PHI] Tucker Rebound (Off:1 Def:0),-118,50,1,0,0,0,...,1610612755,200782,0,0,NaN,1610612755,90000,0,1,22200001
4,10,2022-10-18T23:35:53.100Z,11:35,[PHI] Tucker Turnover : Out of Bounds Lost Bal...,45,10,0,0,0,0,...,1610612755,200782,0,0,NaN,1610612755,100000,0,1,22200001

In [6]:
nbastats_po.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,42200101,2,12,0,1,5:51 PM,12:00,NaN,Start of 1st Period (5:51 PM EST),NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0
1,42200101,4,10,0,1,5:51 PM,12:00,Jump Ball Lopez vs. Adebayo: Tip to Butler,NaN,NaN,...,Heat,MIA,5,202710,Jimmy Butler,1.610613e+09,Miami,Heat,MIA,0
2,42200101,7,2,79,1,5:52 PM,11:36,NaN,NaN,MISS Adebayo 14' Pullup Jump Shot,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
3,42200101,8,4,0,1,5:52 PM,11:32,G. Antetokounmpo REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
4,42200101,10,1,75,1,5:52 PM,11:23,G. Antetokounmpo 2' Driving Finger Roll Layup ...,NaN,NaN,...,Bucks,MIL,0,0,NaN,NaN,NaN,NaN,NaN,1

In [7]:
pbpstats.head()

,ENDTIME,EVENTS,FG2A,FG2M,FG3A,FG3M,GAMEDATE,GAMEID,NONSHOOTINGFOULSTHATRESULTEDINFTS,OFFENSIVEREBOUNDS,OPPONENT,PERIOD,SHOOTINGFOULSDRAWN,STARTSCOREDIFFERENTIAL,STARTTIME,STARTTYPE,TURNOVERS,DESCRIPTION,URL
0,00:04,MISS Horford 25' 3PT Jump Shot\nHarden REBOUND...,0,0,1,0,2022-10-18,22200001,0,0,PHI,4,0,9,00:29,Off At Rim Make,0,MISS Horford 25' 3PT Jump Shot,https://videos.nba.com/nba/pbp/media/2022/10/1...
1,00:04,MISS Horford 25' 3PT Jump Shot\nHarden REBOUND...,0,0,1,0,2022-10-18,22200001,0,0,PHI,4,0,9,00:29,Off At Rim Make,0,Harden REBOUND (Off:0 Def:8),https://videos.nba.com/nba/pbp/media/2022/10/1...
2,00:32,Brown Lost Ball Turnover (P4.T11): Harris STEA...,0,0,0,0,2022-10-18,22200001,0,0,PHI,4,0,11,00:48,Off Short Mid-Range Make,1,Brown Lost Ball Turnover (P4.T11): Harris STEA...,https://videos.nba.com/nba/pbp/media/2022/10/1...
3,00:58,Smart Bad Pass Turnover (P1.T10): Maxey STEAL ...,0,0,0,0,2022-10-18,22200001,0,0,PHI,4,0,13,01:10,Off FT Make,1,Smart Bad Pass Turnover (P1.T10): Maxey STEAL ...,https://videos.nba.com/nba/pbp/media/2022/10/1...
4,01:26,Brown 27' 3PT Jump Shot (35 PTS) (Tatum 4 AST)\n,0,0,1,1,2022-10-18,22200001,0,0,PHI,4,0,13,01:44,Off At Rim Make,0,Brown 27' 3PT Jump Shot (35 PTS) (Tatum 4 AST),https://videos.nba.com/nba/pbp/media/2022/10/1...

In [8]:
shotdetail.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,22200005,7,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,11,44,...,Right Side Center(RC),16-24 ft.,18,77,172,1,1,20221019,ATL,HOU
1,Shot Chart Detail,22200005,10,1629027,Trae Young,1610612737,Atlanta Hawks,1,11,14,...,Center(C),24+ ft.,36,1,363,1,0,20221019,ATL,HOU
2,Shot Chart Detail,22200005,15,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,10,49,...,Left Side Center(LC),24+ ft.,24,-201,147,1,0,20221019,ATL,HOU
3,Shot Chart Detail,22200005,18,1629631,De'Andre Hunter,1610612737,Atlanta Hawks,1,10,22,...,Left Side Center(LC),24+ ft.,25,-183,175,1,0,20221019,ATL,HOU
4,Shot Chart Detail,22200005,21,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,9,57,...,Center(C),Less Than 8 ft.,3,-17,26,1,0,20221019,ATL,HOU

In [9]:
shotdetail_po.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,42200111,10,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,11,31,...,Center(C),16-24 ft.,20,-29,204,1,1,20230415,BOS,ATL
1,Shot Chart Detail,42200111,15,1629027,Trae Young,1610612737,Atlanta Hawks,1,11,0,...,Center(C),Less Than 8 ft.,5,-43,38,1,0,20230415,BOS,ATL
2,Shot Chart Detail,42200111,20,1628381,John Collins,1610612737,Atlanta Hawks,1,10,34,...,Right Side(R),16-24 ft.,20,206,25,1,1,20230415,BOS,ATL
3,Shot Chart Detail,42200111,24,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,9,58,...,Left Side(L),16-24 ft.,16,-162,14,1,1,20230415,BOS,ATL
4,Shot Chart Detail,42200111,27,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,9,45,...,Left Side Center(LC),24+ ft.,26,-137,224,1,0,20230415,BOS,ATL

In [22]:
# not fininshed
df = [nbastats, nbapo, nbadata, nbastats_po, pbpstats, shotdetail, shotdetail_po]
name = []

In [20]:
# not finished
for i in df:
    display(i.info())
    display(i.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574410 entries, 0 to 574409
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   GAME_ID                    574410 non-null  int64
 1   EVENTNUM                   574410 non-null  int64
 2   EVENTMSGTYPE               574410 non-null  int64
 3   EVENTMSGACTIONTYPE         574410 non-null  int64
 4   PERIOD                     574410 non-null  int64
 5   WCTIMESTRING               574410 non-null  object
 6   PCTIMESTRING               574410 non-null  object
 7   HOMEDESCRIPTION            297481 non-null  object
 8   NEUTRALDESCRIPTION         12299 non-null   object
 9   VISITORDESCRIPTION         294016 non-null  object
 10  SCORE                      159376 non-null  object
 11  SCOREMARGIN                159376 non-null  object
 12  PERSON1TYPE                574408 non-null  float64
 13  PLAYER1_ID                 574410 non-null  int64
 14  PLAYER1_NAME               527344 non-null  object
 15  PLAYER1_TEAM_ID            526651 non-null  float64
 16  PLAYER1_TEAM_CITY          526651 non-null  object
 17  PLAYER1_TEAM_NICKNAME      526651 non-null  object
 18  PLAYER1_TEAM_ABBREVIATION  526651 non-null  object
 19  PERSON2TYPE                574410 non-null  int64
 20  PLAYER2_ID                 574410 non-null  int64
 21  PLAYER2_NAME               188828 non-null  object
 22  PLAYER2_TEAM_ID            188828 non-null  float64
 23  PLAYER2_TEAM_CITY          188828 non-null  object
 24  PLAYER2_TEAM_NICKNAME      188828 non-null  object
 25  PLAYER2_TEAM_ABBREVIATION  188828 non-null  object
 26  PERSON3TYPE                574410 non-null  int64
 27  PLAYER3_ID                 574410 non-null  int64
 28  PLAYER3_NAME               13449 non-null   object
 29  PLAYER3_TEAM_ID            13449 non-null   float64
 30  PLAYER3_TEAM_CITY          13449 non-null   object
 31  PLAYER3_TEAM_NICKNAME      13449 non-null   object
 32  PLAYER3_TEAM_ABBREVIATION  13449 non-null   object
 33  VIDEO_AVAILABLE_FLAG       574410 non-null  int64
dtypes: float64(4), int64(11), object(19)
memory usage: 149.0+ MB

None

GAME_ID                           0
EVENTNUM                          0
EVENTMSGTYPE                      0
EVENTMSGACTIONTYPE                0
PERIOD                            0
WCTIMESTRING                      0
PCTIMESTRING                      0
HOMEDESCRIPTION              276929
NEUTRALDESCRIPTION           562111
VISITORDESCRIPTION           280394
SCORE                        415034
SCOREMARGIN                  415034
PERSON1TYPE                       2
PLAYER1_ID                        0
PLAYER1_NAME                  47066
PLAYER1_TEAM_ID               47759
PLAYER1_TEAM_CITY             47759
PLAYER1_TEAM_NICKNAME         47759
PLAYER1_TEAM_ABBREVIATION     47759
PERSON2TYPE                       0
PLAYER2_ID                        0
PLAYER2_NAME                 385582
PLAYER2_TEAM_ID              385582
PLAYER2_TEAM_CITY            385582
PLAYER2_TEAM_NICKNAME        385582
PLAYER2_TEAM_ABBREVIATION    385582
PERSON3TYPE                       0
PLAYER3_ID                        0
PLAYER3_NAME                 560961
PLAYER3_TEAM_ID              560961
PLAYER3_TEAM_CITY            560961
PLAYER3_TEAM_NICKNAME        560961
PLAYER3_TEAM_ABBREVIATION    560961
VIDEO_AVAILABLE_FLAG              0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   evt      39177 non-null  int64
 1   wallclk  39177 non-null  object
 2   cl       39177 non-null  object
 3   de       39177 non-null  object
 4   locX     39177 non-null  int64
 5   locY     39177 non-null  int64
 6   opt1     39177 non-null  int64
 7   opt2     39177 non-null  int64
 8   opt3     39177 non-null  int64
 9   opt4     39177 non-null  int64
 10  mtype    39177 non-null  int64
 11  etype    39177 non-null  int64
 12  opid     5397 non-null   float64
 13  tid      39177 non-null  int64
 14  pid      39177 non-null  int64
 15  hs       39177 non-null  int64
 16  vs       39177 non-null  int64
 17  epid     11221 non-null  float64
 18  oftid    39177 non-null  int64
 19  ord      39177 non-null  int64
 20  pts      39177 non-null  int64
 21  PERIOD   39177 non-null  int64
 22  GAME_ID  39177 non-null  int64
dtypes: float64(2), int64(18), object(3)
memory usage: 6.9+ MB

None

evt            0
wallclk        0
cl             0
de             0
locX           0
locY           0
opt1           0
opt2           0
opt3           0
opt4           0
mtype          0
etype          0
opid       33780
tid            0
pid            0
hs             0
vs             0
epid       27956
oftid          0
ord            0
pts            0
PERIOD         0
GAME_ID        0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588564 entries, 0 to 588563
Data columns (total 23 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   evt      588564 non-null  int64
 1   wallclk  588564 non-null  object
 2   cl       588564 non-null  object
 3   de       588564 non-null  object
 4   locX     588564 non-null  int64
 5   locY     588564 non-null  int64
 6   opt1     588564 non-null  int64
 7   opt2     588564 non-null  int64
 8   opt3     588564 non-null  int64
 9   opt4     588564 non-null  int64
 10  mtype    588564 non-null  int64
 11  etype    588564 non-null  int64
 12  opid     80662 non-null   float64
 13  tid      588564 non-null  int64
 14  pid      588564 non-null  int64
 15  hs       588564 non-null  int64
 16  vs       588564 non-null  int64
 17  epid     171175 non-null  float64
 18  oftid    588564 non-null  int64
 19  ord      588564 non-null  int64
 20  pts      588564 non-null  int64
 21  PERIOD   588564 non-null  int64
 22  GAME_ID  588564 non-null  int64
dtypes: float64(2), int64(18), object(3)
memory usage: 103.3+ MB

None

evt             0
wallclk         0
cl              0
de              0
locX            0
locY            0
opt1            0
opt2            0
opt3            0
opt4            0
mtype           0
etype           0
opid       507902
tid             0
pid             0
hs              0
vs              0
epid       417389
oftid           0
ord             0
pts             0
PERIOD          0
GAME_ID         0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38216 entries, 0 to 38215
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   GAME_ID                    38216 non-null  int64
 1   EVENTNUM                   38216 non-null  int64
 2   EVENTMSGTYPE               38216 non-null  int64
 3   EVENTMSGACTIONTYPE         38216 non-null  int64
 4   PERIOD                     38216 non-null  int64
 5   WCTIMESTRING               38216 non-null  object
 6   PCTIMESTRING               38216 non-null  object
 7   HOMEDESCRIPTION            19759 non-null  object
 8   NEUTRALDESCRIPTION         854 non-null    object
 9   VISITORDESCRIPTION         19550 non-null  object
 10  SCORE                      10394 non-null  object
 11  SCOREMARGIN                10394 non-null  object
 12  PERSON1TYPE                38216 non-null  int64
 13  PLAYER1_ID                 38216 non-null  int64
 14  PLAYER1_NAME               34957 non-null  object
 15  PLAYER1_TEAM_ID            34896 non-null  float64
 16  PLAYER1_TEAM_CITY          34896 non-null  object
 17  PLAYER1_TEAM_NICKNAME      34896 non-null  object
 18  PLAYER1_TEAM_ABBREVIATION  34896 non-null  object
 19  PERSON2TYPE                38216 non-null  int64
 20  PLAYER2_ID                 38216 non-null  int64
 21  PLAYER2_NAME               12313 non-null  object
 22  PLAYER2_TEAM_ID            12313 non-null  float64
 23  PLAYER2_TEAM_CITY          12313 non-null  object
 24  PLAYER2_TEAM_NICKNAME      12313 non-null  object
 25  PLAYER2_TEAM_ABBREVIATION  12313 non-null  object
 26  PERSON3TYPE                38216 non-null  int64
 27  PLAYER3_ID                 38216 non-null  int64
 28  PLAYER3_NAME               950 non-null    object
 29  PLAYER3_TEAM_ID            950 non-null    float64
 30  PLAYER3_TEAM_CITY          950 non-null    object
 31  PLAYER3_TEAM_NICKNAME      950 non-null    object
 32  PLAYER3_TEAM_ABBREVIATION  950 non-null    object
 33  VIDEO_AVAILABLE_FLAG       38216 non-null  int64
dtypes: float64(3), int64(12), object(19)
memory usage: 9.9+ MB

None

GAME_ID                          0
EVENTNUM                         0
EVENTMSGTYPE                     0
EVENTMSGACTIONTYPE               0
PERIOD                           0
WCTIMESTRING                     0
PCTIMESTRING                     0
HOMEDESCRIPTION              18457
NEUTRALDESCRIPTION           37362
VISITORDESCRIPTION           18666
SCORE                        27822
SCOREMARGIN                  27822
PERSON1TYPE                      0
PLAYER1_ID                       0
PLAYER1_NAME                  3259
PLAYER1_TEAM_ID               3320
PLAYER1_TEAM_CITY             3320
PLAYER1_TEAM_NICKNAME         3320
PLAYER1_TEAM_ABBREVIATION     3320
PERSON2TYPE                      0
PLAYER2_ID                       0
PLAYER2_NAME                 25903
PLAYER2_TEAM_ID              25903
PLAYER2_TEAM_CITY            25903
PLAYER2_TEAM_NICKNAME        25903
PLAYER2_TEAM_ABBREVIATION    25903
PERSON3TYPE                      0
PLAYER3_ID                       0
PLAYER3_NAME                 37266
PLAYER3_TEAM_ID              37266
PLAYER3_TEAM_CITY            37266
PLAYER3_TEAM_NICKNAME        37266
PLAYER3_TEAM_ABBREVIATION    37266
VIDEO_AVAILABLE_FLAG             0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486514 entries, 0 to 486513
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ENDTIME                            486514 non-null  object
 1   EVENTS                             485526 non-null  object
 2   FG2A                               486514 non-null  int64
 3   FG2M                               486514 non-null  int64
 4   FG3A                               486514 non-null  int64
 5   FG3M                               486514 non-null  int64
 6   GAMEDATE                           486514 non-null  object
 7   GAMEID                             486514 non-null  int64
 8   NONSHOOTINGFOULSTHATRESULTEDINFTS  486514 non-null  int64
 9   OFFENSIVEREBOUNDS                  486514 non-null  int64
 10  OPPONENT                           486514 non-null  object
 11  PERIOD                             486514 non-null  int64
 12  SHOOTINGFOULSDRAWN                 486514 non-null  int64
 13  STARTSCOREDIFFERENTIAL             486514 non-null  int64
 14  STARTTIME                          486514 non-null  object
 15  STARTTYPE                          486514 non-null  object
 16  TURNOVERS                          486514 non-null  int64
 17  DESCRIPTION                        485526 non-null  object
 18  URL                                335032 non-null  object
dtypes: int64(11), object(8)
memory usage: 70.5+ MB

None

ENDTIME                                   0
EVENTS                                  988
FG2A                                      0
FG2M                                      0
FG3A                                      0
FG3M                                      0
GAMEDATE                                  0
GAMEID                                    0
NONSHOOTINGFOULSTHATRESULTEDINFTS         0
OFFENSIVEREBOUNDS                         0
OPPONENT                                  0
PERIOD                                    0
SHOOTINGFOULSDRAWN                        0
STARTSCOREDIFFERENTIAL                    0
STARTTIME                                 0
STARTTYPE                                 0
TURNOVERS                                 0
DESCRIPTION                             988
URL                                  151482
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217218 entries, 0 to 217217
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GRID_TYPE            217218 non-null  object
 1   GAME_ID              217218 non-null  int64
 2   GAME_EVENT_ID        217218 non-null  int64
 3   PLAYER_ID            217218 non-null  int64
 4   PLAYER_NAME          217218 non-null  object
 5   TEAM_ID              217218 non-null  int64
 6   TEAM_NAME            217218 non-null  object
 7   PERIOD               217218 non-null  int64
 8   MINUTES_REMAINING    217218 non-null  int64
 9   SECONDS_REMAINING    217218 non-null  int64
 10  EVENT_TYPE           217218 non-null  object
 11  ACTION_TYPE          217218 non-null  object
 12  SHOT_TYPE            217218 non-null  object
 13  SHOT_ZONE_BASIC      217218 non-null  object
 14  SHOT_ZONE_AREA       217218 non-null  object
 15  SHOT_ZONE_RANGE      217218 non-null  object
 16  SHOT_DISTANCE        217218 non-null  int64
 17  LOC_X                217218 non-null  int64
 18  LOC_Y                217218 non-null  int64
 19  SHOT_ATTEMPTED_FLAG  217218 non-null  int64
 20  SHOT_MADE_FLAG       217218 non-null  int64
 21  GAME_DATE            217218 non-null  int64
 22  HTM                  217218 non-null  object
 23  VTM                  217218 non-null  object
dtypes: int64(13), object(11)
memory usage: 39.8+ MB

None

GRID_TYPE              0
GAME_ID                0
GAME_EVENT_ID          0
PLAYER_ID              0
PLAYER_NAME            0
TEAM_ID                0
TEAM_NAME              0
PERIOD                 0
MINUTES_REMAINING      0
SECONDS_REMAINING      0
EVENT_TYPE             0
ACTION_TYPE            0
SHOT_TYPE              0
SHOT_ZONE_BASIC        0
SHOT_ZONE_AREA         0
SHOT_ZONE_RANGE        0
SHOT_DISTANCE          0
LOC_X                  0
LOC_Y                  0
SHOT_ATTEMPTED_FLAG    0
SHOT_MADE_FLAG         0
GAME_DATE              0
HTM                    0
VTM                    0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14651 entries, 0 to 14650
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GRID_TYPE            14651 non-null  object
 1   GAME_ID              14651 non-null  int64
 2   GAME_EVENT_ID        14651 non-null  int64
 3   PLAYER_ID            14651 non-null  int64
 4   PLAYER_NAME          14651 non-null  object
 5   TEAM_ID              14651 non-null  int64
 6   TEAM_NAME            14651 non-null  object
 7   PERIOD               14651 non-null  int64
 8   MINUTES_REMAINING    14651 non-null  int64
 9   SECONDS_REMAINING    14651 non-null  int64
 10  EVENT_TYPE           14651 non-null  object
 11  ACTION_TYPE          14651 non-null  object
 12  SHOT_TYPE            14651 non-null  object
 13  SHOT_ZONE_BASIC      14651 non-null  object
 14  SHOT_ZONE_AREA       14651 non-null  object
 15  SHOT_ZONE_RANGE      14651 non-null  object
 16  SHOT_DISTANCE        14651 non-null  int64
 17  LOC_X                14651 non-null  int64
 18  LOC_Y                14651 non-null  int64
 19  SHOT_ATTEMPTED_FLAG  14651 non-null  int64
 20  SHOT_MADE_FLAG       14651 non-null  int64
 21  GAME_DATE            14651 non-null  int64
 22  HTM                  14651 non-null  object
 23  VTM                  14651 non-null  object
dtypes: int64(13), object(11)
memory usage: 2.7+ MB

None

GRID_TYPE              0
GAME_ID                0
GAME_EVENT_ID          0
PLAYER_ID              0
PLAYER_NAME            0
TEAM_ID                0
TEAM_NAME              0
PERIOD                 0
MINUTES_REMAINING      0
SECONDS_REMAINING      0
EVENT_TYPE             0
ACTION_TYPE            0
SHOT_TYPE              0
SHOT_ZONE_BASIC        0
SHOT_ZONE_AREA         0
SHOT_ZONE_RANGE        0
SHOT_DISTANCE          0
LOC_X                  0
LOC_Y                  0
SHOT_ATTEMPTED_FLAG    0
SHOT_MADE_FLAG         0
GAME_DATE              0
HTM                    0
VTM                    0
dtype: int64

In [25]:
for i in df:
    display(i.shape)

(574410, 34)

(39177, 23)

(588564, 23)

(38216, 34)

(486514, 19)

(217218, 24)

(14651, 24)

In [35]:
features = 0
observations = 0
for i in df:
    o,f = i.shape
    features += f
    observations += o

In [36]:
features

181

In [37]:
observations

1958750